In [1]:
import requests
import pandas as pd

In [2]:
urlStr = "https://www.e-solat.gov.my/index.php"
urlParams = {
    "r": "esolatApi/takwimsolat",
    "zone": "WLY01", ## WLY01 = WP KL & Putrajaya
    ## use period=duration to get specific timeframe within 1 year
    "period": "duration"
    ## use period=year or period=month or period=week for current year/month/week
    # "period": "year"
}

In [3]:
def getDataFrameFromReq(strUrl, paramUrl, dataUrl={}):
    req = None
    if (len(dataUrl) > 0):
        ## for period=duration
        req = requests.post(url=strUrl, params=paramUrl, data=dataUrl)
    else:
        ## instead for period=year / period=month / period=week
        req = requests.post(url=strUrl, params=paramUrl)
    
    resJson = req.json()["prayerTime"]
    return pd.DataFrame(resJson)

In [4]:
def parseDfForDB(parsedDataFrame):
    if (len(parsedDataFrame) == 0):
        return pd.DataFrame([])
    
    ## create df first to preserve dtype
    df = parsedDataFrame[["date","fajr","dhuhr","asr","maghrib","isha"]]
    ## column date
    df.loc[:,"date"] = pd.to_datetime(df["date"], format="%d-%b-%Y").dt.date
    ## other columns
    df.loc[:,"fajr"] = pd.to_datetime(df["fajr"], format="%H:%M:%S").dt.time
    df.loc[:,"dhuhr"] = pd.to_datetime(df["dhuhr"], format="%H:%M:%S").dt.time
    df.loc[:,"asr"] = pd.to_datetime(df["asr"], format="%H:%M:%S").dt.time
    df.loc[:,"maghrib"] = pd.to_datetime(df["maghrib"], format="%H:%M:%S").dt.time
    df.loc[:,"isha"] = pd.to_datetime(df["isha"], format="%H:%M:%S").dt.time
    ## rename col dhuhr to zuhr
    df = df.rename(columns={ "dhuhr":"zuhr" })
    return df

In [5]:
urlData2018 = { "datestart": "2018-01-01", "dateend": "2018-12-31" }
eSolatDataFrame2018 = getDataFrameFromReq(urlStr, urlParams, urlData2018)
df2018 = parseDfForDB(eSolatDataFrame2018)
df2018

           date      fajr      zuhr       asr   maghrib      isha
0    2018-01-01  05:58:00  13:19:00  16:42:00  19:16:00  20:30:00
1    2018-01-02  05:58:00  13:20:00  16:42:00  19:16:00  20:31:00
2    2018-01-03  05:59:00  13:20:00  16:43:00  19:17:00  20:31:00
3    2018-01-04  05:59:00  13:21:00  16:43:00  19:17:00  20:32:00
4    2018-01-05  06:00:00  13:21:00  16:44:00  19:18:00  20:32:00
..          ...       ...       ...       ...       ...       ...
360  2018-12-27  05:55:00  13:17:00  16:39:00  19:13:00  20:28:00
361  2018-12-28  05:56:00  13:17:00  16:40:00  19:14:00  20:28:00
362  2018-12-29  05:56:00  13:18:00  16:40:00  19:14:00  20:29:00
363  2018-12-30  05:57:00  13:18:00  16:41:00  19:15:00  20:29:00
364  2018-12-31  05:57:00  13:19:00  16:41:00  19:15:00  20:30:00

[365 rows x 6 columns]

In [6]:
urlData2019 = { "datestart": "2019-01-01", "dateend": "2019-12-31" }
eSolatDataFrame2019 = getDataFrameFromReq(urlStr, urlParams, urlData2019)
df2019 = parseDfForDB(eSolatDataFrame2019)
df2019

           date      fajr      zuhr       asr   maghrib      isha
0    2019-01-01  05:58:00  13:19:00  16:42:00  19:16:00  20:31:00
1    2019-01-02  05:58:00  13:20:00  16:42:00  19:17:00  20:32:00
2    2019-01-03  05:59:00  13:20:00  16:43:00  19:17:00  20:32:00
3    2019-01-04  05:59:00  13:21:00  16:43:00  19:18:00  20:32:00
4    2019-01-05  06:00:00  13:21:00  16:44:00  19:18:00  20:33:00
..          ...       ...       ...       ...       ...       ...
360  2019-12-27  06:03:00  13:17:00  16:39:00  19:14:00  20:29:00
361  2019-12-28  06:03:00  13:17:00  16:40:00  19:14:00  20:29:00
362  2019-12-29  06:04:00  13:18:00  16:40:00  19:15:00  20:30:00
363  2019-12-30  06:04:00  13:18:00  16:41:00  19:15:00  20:30:00
364  2019-12-31  06:05:00  13:19:00  16:41:00  19:16:00  20:31:00

[365 rows x 6 columns]

In [7]:
urlData2020 = { "datestart": "2020-01-01", "dateend": "2020-12-31" }
eSolatDataFrame2020 = getDataFrameFromReq(urlStr, urlParams, urlData2020)
df2020 = parseDfForDB(eSolatDataFrame2020)
df2020

           date      fajr      zuhr       asr   maghrib      isha
0    2020-01-01  06:06:00  13:19:00  16:42:00  19:16:00  20:31:00
1    2020-01-02  06:07:00  13:20:00  16:42:00  19:17:00  20:31:00
2    2020-01-03  06:07:00  13:20:00  16:43:00  19:17:00  20:32:00
3    2020-01-04  06:08:00  13:21:00  16:43:00  19:18:00  20:32:00
4    2020-01-05  06:08:00  13:21:00  16:44:00  19:18:00  20:33:00
..          ...       ...       ...       ...       ...       ...
361  2020-12-27  06:04:00  13:17:00  16:40:00  19:14:00  20:29:00
362  2020-12-28  06:05:00  13:18:00  16:40:00  19:15:00  20:30:00
363  2020-12-29  06:05:00  13:18:00  16:41:00  19:15:00  20:30:00
364  2020-12-30  06:06:00  13:19:00  16:41:00  19:16:00  20:30:00
365  2020-12-31  06:06:00  13:19:00  16:42:00  19:16:00  20:31:00

[366 rows x 6 columns]

In [8]:
urlData2021 = { "datestart": "2021-01-01", "dateend": "2021-12-31" }
eSolatDataFrame2021 = getDataFrameFromReq(urlStr, urlParams, urlData2021)
df2021 = parseDfForDB(eSolatDataFrame2021)
df2021

           date      fajr      zuhr       asr   maghrib      isha
0    2021-01-01  06:07:00  13:20:00  16:42:00  19:17:00  20:31:00
1    2021-01-02  06:07:00  13:20:00  16:43:00  19:17:00  20:32:00
2    2021-01-03  06:08:00  13:21:00  16:43:00  19:18:00  20:32:00
3    2021-01-04  06:08:00  13:21:00  16:44:00  19:18:00  20:33:00
4    2021-01-05  06:09:00  13:22:00  16:44:00  19:19:00  20:33:00
..          ...       ...       ...       ...       ...       ...
360  2021-12-27  06:04:00  13:17:00  16:40:00  19:14:00  20:29:00
361  2021-12-28  06:05:00  13:18:00  16:40:00  19:15:00  20:29:00
362  2021-12-29  06:05:00  13:18:00  16:41:00  19:15:00  20:30:00
363  2021-12-30  06:06:00  13:19:00  16:41:00  19:16:00  20:30:00
364  2021-12-31  06:06:00  13:19:00  16:42:00  19:16:00  20:31:00

[365 rows x 6 columns]

In [9]:
urlData2022 = { "datestart": "2022-01-01", "dateend": "2022-12-31" }
eSolatDataFrame2022 = getDataFrameFromReq(urlStr, urlParams, urlData2022)
df2022 = parseDfForDB(eSolatDataFrame2022)
df2022

           date      fajr      zuhr       asr   maghrib      isha
0    2022-01-01  06:06:00  13:19:00  16:42:00  19:17:00  20:31:00
1    2022-01-02  06:07:00  13:20:00  16:42:00  19:17:00  20:32:00
2    2022-01-03  06:07:00  13:20:00  16:43:00  19:18:00  20:32:00
3    2022-01-04  06:08:00  13:21:00  16:43:00  19:18:00  20:33:00
4    2022-01-05  06:08:00  13:21:00  16:44:00  19:18:00  20:33:00
..          ...       ...       ...       ...       ...       ...
360  2022-12-27  06:04:00  13:17:00  16:39:00  19:14:00  20:29:00
361  2022-12-28  06:04:00  13:17:00  16:40:00  19:14:00  20:29:00
362  2022-12-29  06:05:00  13:18:00  16:40:00  19:15:00  20:30:00
363  2022-12-30  06:05:00  13:18:00  16:41:00  19:15:00  20:30:00
364  2022-12-31  06:06:00  13:19:00  16:41:00  19:16:00  20:31:00

[365 rows x 6 columns]

In [10]:
urlData2023 = { "datestart": "2023-01-01", "dateend": "2023-12-31" }
eSolatDataFrame2023 = getDataFrameFromReq(urlStr, urlParams, urlData2023)
df2023 = parseDfForDB(eSolatDataFrame2023)
df2023

           date      fajr      zuhr       asr   maghrib      isha
0    2023-01-01  06:06:00  13:19:00  16:42:00  19:16:00  20:31:00
1    2023-01-02  06:07:00  13:20:00  16:42:00  19:17:00  20:32:00
2    2023-01-03  06:07:00  13:20:00  16:43:00  19:17:00  20:32:00
3    2023-01-04  06:08:00  13:21:00  16:43:00  19:18:00  20:32:00
4    2023-01-05  06:08:00  13:21:00  16:44:00  19:18:00  20:33:00
..          ...       ...       ...       ...       ...       ...
360  2023-12-27  06:04:00  13:17:00  16:39:00  19:14:00  20:29:00
361  2023-12-28  06:04:00  13:17:00  16:40:00  19:14:00  20:29:00
362  2023-12-29  06:05:00  13:18:00  16:40:00  19:15:00  20:30:00
363  2023-12-30  06:05:00  13:18:00  16:41:00  19:15:00  20:30:00
364  2023-12-31  06:06:00  13:19:00  16:41:00  19:16:00  20:31:00

[365 rows x 6 columns]

In [11]:
urlData2024 = { "datestart": "2024-01-01", "dateend": "2024-12-31" }
eSolatDataFrame2024 = getDataFrameFromReq(urlStr, urlParams, urlData2024)
df2024 = parseDfForDB(eSolatDataFrame2024)
df2024

           date      fajr      zuhr       asr   maghrib      isha
0    2024-01-01  06:06:00  13:19:00  16:42:00  19:16:00  20:31:00
1    2024-01-02  06:07:00  13:20:00  16:42:00  19:17:00  20:31:00
2    2024-01-03  06:07:00  13:20:00  16:43:00  19:17:00  20:32:00
3    2024-01-04  06:08:00  13:21:00  16:43:00  19:18:00  20:32:00
4    2024-01-05  06:08:00  13:21:00  16:44:00  19:18:00  20:33:00
..          ...       ...       ...       ...       ...       ...
361  2024-12-27  06:04:00  13:17:00  16:40:00  19:14:00  20:29:00
362  2024-12-28  06:05:00  13:18:00  16:40:00  19:15:00  20:30:00
363  2024-12-29  06:05:00  13:18:00  16:41:00  19:15:00  20:30:00
364  2024-12-30  06:06:00  13:19:00  16:41:00  19:16:00  20:30:00
365  2024-12-31  06:06:00  13:19:00  16:42:00  19:16:00  20:31:00

[366 rows x 6 columns]

In [16]:
df2db = pd.concat([df2018,df2019,df2020,df2021,df2022,df2023,df2024], ignore_index=True)
df2db

            date      fajr      zuhr       asr   maghrib      isha
0     2018-01-01  05:58:00  13:19:00  16:42:00  19:16:00  20:30:00
1     2018-01-02  05:58:00  13:20:00  16:42:00  19:16:00  20:31:00
2     2018-01-03  05:59:00  13:20:00  16:43:00  19:17:00  20:31:00
3     2018-01-04  05:59:00  13:21:00  16:43:00  19:17:00  20:32:00
4     2018-01-05  06:00:00  13:21:00  16:44:00  19:18:00  20:32:00
...          ...       ...       ...       ...       ...       ...
2552  2024-12-27  06:04:00  13:17:00  16:40:00  19:14:00  20:29:00
2553  2024-12-28  06:05:00  13:18:00  16:40:00  19:15:00  20:30:00
2554  2024-12-29  06:05:00  13:18:00  16:41:00  19:15:00  20:30:00
2555  2024-12-30  06:06:00  13:19:00  16:41:00  19:16:00  20:30:00
2556  2024-12-31  06:06:00  13:19:00  16:42:00  19:16:00  20:31:00

[2557 rows x 6 columns]

In [17]:
## use library pyodbc to insert data into data warehouse
import pyodbc

In [23]:
## generate conn string for the pyodbc connection
connStr = "DRIVER={ODBC Driver 17 for SQL Server};SERVER=INBOOK_X1;DATABASE=PrayerTimesDW;UID=sa;PWD=abcdE!2345;"

In [24]:
## establish connection to the database
conn = pyodbc.connect(connStr)
# cursor = conn.cursor()

In [26]:
## iterate rows of data frame for INSERT query
# for idx, row in df2db.iterrows():
#     cursor.execute("INSERT INTO [dbo].[t_time_prayer_source_1] ([time_date],[time_fajr],[time_zuhr],[time_asr],[time_maghrib],[time_isha]) VALUES (?,?,?,?,?,?)", row["date"], row["fajr"], row["zuhr"], row["asr"], row["maghrib"], row["isha"])

## DON'T FORGET to commit query transaction!
# conn.commit()
## ALSO DON'T FORGET to close the connection after done!
# cursor.close()
# conn.close()