In [1]:
import requests

In [2]:
urlStr = "https://www.e-solat.gov.my/index.php"
urlParams = {
    "r": "esolatApi/takwimsolat",
    "zone": "WLY01", ## WLY01 = WP KL & Putrajaya
    ## use period=duration to get specific timeframe within 1 year
    "period": "duration"
    ## use period=year or period=month or period=week for current year/month/week
    # "period": "year"
}
urlData = {
    # MUST DEFINE THESE if using period=duration in urlParams
    "datestart": "2018-01-01",
    "dateend": "2018-12-31"
}

In [6]:
req = requests.post(url= urlStr, params=urlParams, data=urlData)

In [9]:
resJson = req.json()

In [10]:
eSolatJson = resJson["prayerTime"]

In [12]:
import pandas as pd

In [14]:
pd.DataFrame(eSolatJson)

,hijri,date,day,imsak,fajr,syuruk,dhuhr,asr,maghrib,isha
0,1439-04-13,01-Jan-2018,Monday,05:48:00,05:58:00,07:18:00,13:19:00,16:42:00,19:16:00,20:30:00
1,1439-04-14,02-Jan-2018,Tuesday,05:48:00,05:58:00,07:18:00,13:20:00,16:42:00,19:16:00,20:31:00
2,1439-04-15,03-Jan-2018,Wednesday,05:49:00,05:59:00,07:19:00,13:20:00,16:43:00,19:17:00,20:31:00
3,1439-04-16,04-Jan-2018,Thursday,05:49:00,05:59:00,07:19:00,13:21:00,16:43:00,19:17:00,20:32:00
4,1439-04-17,05-Jan-2018,Friday,05:50:00,06:00:00,07:19:00,13:21:00,16:44:00,19:18:00,20:32:00
...,...,...,...,...,...,...,...,...,...,...
360,1440-04-19,27-Dec-2018,Thursday,05:45:00,05:55:00,07:15:00,13:17:00,16:39:00,19:13:00,20:28:00
361,1440-04-20,28-Dec-2018,Friday,05:46:00,05:56:00,07:16:00,13:17:00,16:40:00,19:14:00,20:28:00
362,1440-04-21,29-Dec-2018,Saturday,05:46:00,05:56:00,07:16:00,13:18:00,16:40:00,19:14:00,20:29:00
363,1440-04-22,30-Dec-2018,Sunday,05:47:00,05:57:00,07:17:00,13:18:00,16:41:00,19:15:00,20:29:00
364,1440-04-23,31-Dec-2018,Monday,05:47:00,05:57:00,07:17:00,13:19:00,16:41:00,19:15:00,20:30:00